/*
 * Global resets
 */
html {
    font-family: Open Sans, sans-serif;
}

/*
 * Sidebar
 */

.sidebar {
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(255,255,255,.5);
    background-color: #2E3440;
}
@media (min-width: 76em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-size: 3.25rem;
}


/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.25;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/*
 * Sticky sidebar
 */

@media (min-width: 76em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}


/*
 * Container
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
  max-width: 44rem;
}

@media (min-width: 76em) {
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
  }
}


.content h1,
.content a,
.related-posts li a:hover {
    color: #81A1C1;
}

/*
 * Custom type
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.portrait {
  margin: auto;
    width: 100px;
}

/*
 * Pagination
 */

.pagination {
    overflow: hidden;
    text-align: center;
}

.pagination-item {
    display: inline-block;
    font-size: 2rem;
    margin-right: 1rem;
}
